#img1 {

    margin-left: 350px ;
}





#myButton{
   
    margin-left: 100px
   
}

#myButton1{
   
    margin-left: 180px
   
}
#myButton2{
   
    margin-left: 180px
   
}
#myButton3{
   
    margin-left: 180px
   
}



#az { 
    margin-left: 75px;
    margin-right: 60px
}

#bz { 
    margin-left: 75px;
    margin-right: 60px
}

#cz { 
    margin-left: 75px;
    margin-right: 60px
}

#dz { 
    margin-left: 75px;
    margin-right: 60px
}

#shop2 { 
    margin-top: 100px;
}

#myButton4{
   
    margin-left: 100px
   
}

#myButton5{
   
    margin-left: 180px
   
}
#myButton6{
   
    margin-left: 180px
   
}
#myButton7{
   
    margin-left: 180px
   
}



#ez { 
    margin-left: 75px;
    margin-right: 60px
}

#fz { 
    margin-left: 75px;
    margin-right: 60px
}

#gz { 
    margin-left: 75px;
    margin-right: 60px
}

#hz { 
    margin-left: 75px;
    margin-right: 60px
}

#shop3 { 
    margin-top: 100px;
}


#myButton8{
   
    margin-left: 100px
   
}

#myButton9{
   
    margin-left: 180px
   
}
#myButton10{
   
    margin-left: 180px
   
}
#myButton11{
   
    margin-left: 180px
   
}



#iz { 
    margin-left: 75px;
    margin-right: 60px
}

#jz { 
    margin-left: 75px;
    margin-right: 60px
}

#kz { 
    margin-left: 75px;
    margin-right: 60px
}

#lz { 
    margin-left: 75px;
    margin-right: 60px
}

#shop4 { 
    margin-top: 100px;
}


#myButton12{
   
    margin-left: 380px
   
}
#myButton13{
   
    margin-left: 250px
   
}



#mz { 
    margin-left: 350px;
    margin-right: 60px
}

#nz { 
    margin-left: 170px;
    margin-right: 60px

}

.imga { 
    margin-left: 350px;
    margin-bottom: 60px;
    margin-top: 30px;
}
.titre {
    display: inline-block;
     margin-left: 400px;
    margin-bottom: 60px; 
    font-size: 60px;
    white-space: nowrap;
    color :rgb(52, 98, 110);
    
}
.para {
    margin-left: 140px;
    white-space: nowrap;
    margin-bottom: 60px;
    font-size: 50px;
    text-align: center;
    color :rgb(52, 98, 110)
 }
 


 #pa {   
    margin-left: 400px;
    white-space: nowrap;
    margin-bottom: 60px;
    font-size: 50px;
    text-align: center;
    color :rgb(52, 98, 110) }

    #myButtonA{
        margin-left: 650px;
        white-space: nowrap
    }
    .parb {
        margin-left: 300px;
        white-space: nowrap;
        margin-bottom: 60px;
        font-size: 50px;
        text-align: center;
        color :rgb(52, 98, 110)
     }
     
    
    
     #pb {   
        margin-left: 400px;
        white-space: nowrap;
        margin-bottom: 60px;
        font-size: 50px;
        text-align: center;
        color :rgb(52, 98, 110) }

        #myButtonB{
            margin-left: 650px;
            white-space: nowrap
        }

        .parc {
            margin-left: 300px;
            white-space: nowrap;
            margin-bottom: 60px;
            font-size: 50px;
            text-align: center;
            color :rgb(52, 98, 110)
         }
         
        
        
         #pc {   
            margin-left: 400px;
            white-space: nowrap;
            margin-bottom: 60px;
            font-size: 50px;
            text-align: center;
            color :rgb(52, 98, 110) 
        }
    
          #myButtonC{
                margin-left: 650px;
                white-space: nowrap
 }


 .pard {
    margin-left: 300px;
    white-space: nowrap;
    margin-bottom: 60px;
    font-size: 50px;
    text-align: center;
    color :rgb(52, 98, 110)
 }
 


 #pd {   
    margin-left: 400px;
    white-space: nowrap;
    margin-bottom: 60px;
    font-size: 50px;
    text-align: center;
    color :rgb(52, 98, 110) 
}

  #myButtonD{
        margin-left: 650px;
        white-space: nowrap
 }
 .pare {
    margin-left: 10px;
    white-space: nowrap;
    margin-bottom: 60px;
    font-size: 50px;
    text-align: center;
    color :rgb(52, 98, 110)
 }
 


 #pe {   
    margin-left: 400px;
    white-space: nowrap;
    margin-bottom: 60px;
    font-size: 50px;
    text-align: center;
    color :rgb(52, 98, 110) 
}

  #myButtonE{
        margin-left: 650px;
        white-space: nowrap
}

.parf {
    margin-left: 300px;
    white-space: nowrap;
    margin-bottom: 60px;
    font-size: 50px;
    text-align: center;
    color :rgb(52, 98, 110)
 }
 


 #pf {   
    margin-left: 400px;
    white-space: nowrap;
    margin-bottom: 60px;
    font-size: 50px;
    text-align: center;
    color :rgb(52, 98, 110) 
}

  #myButtonF{
        margin-left: 650px;
        white-space: nowrap
    }

    .parg {
        margin-left: 300px;
        white-space: nowrap;
        margin-bottom: 60px;
        font-size: 50px;
        text-align: center;
        color :rgb(52, 98, 110)
     }
     
    
    
     #pg {   
        margin-left: 400px;
        white-space: nowrap;
        margin-bottom: 60px;
        font-size: 50px;
        text-align: center;
        color :rgb(52, 98, 110) 
    }
    
      #myButtonG{
            margin-left: 650px;
            white-space: nowrap
 }

 .parh {
    margin-left: 300px;
    white-space: nowrap;
    margin-bottom: 60px;
    font-size: 50px;
    text-align: center;
    color :rgb(52, 98, 110)
 }
 


 #ph {   
    margin-left: 400px;
    white-space: nowrap;
    margin-bottom: 60px;
    font-size: 50px;
    text-align: center;
    color :rgb(52, 98, 110) 
}

  #myButtonH{
        margin-left: 650px;
        white-space: nowrap
    }


    
 .pari {
    margin-left: 300px;
    white-space: nowrap;
    margin-bottom: 60px;
    font-size: 50px;
    text-align: center;
    color :rgb(52, 98, 110)
 }
 


 #pi {   
    margin-left: 400px;
    white-space: nowrap;
    margin-bottom: 60px;
    font-size: 50px;
    text-align: center;
    color :rgb(52, 98, 110) 
}

  #myButtonI{
        margin-left: 650px;
        white-space: nowrap
    }


    .parj {
        margin-left: 300px;
        white-space: nowrap;
        margin-bottom: 60px;
        font-size: 50px;
        text-align: center;
        color :rgb(52, 98, 110)
     }
     
    
    
     #pj {   
        margin-left: 400px;
        white-space: nowrap;
        margin-bottom: 60px;
        font-size: 50px;
        text-align: center;
        color :rgb(52, 98, 110) 
    }
    
      #myButtonJ{
            margin-left: 650px;
            white-space: nowrap
        }


        .park {
            margin-left: 300px;
            white-space: nowrap;
            margin-bottom: 60px;
            font-size: 50px;
            text-align: center;
            color :rgb(52, 98, 110)
         }
         
        
        
         #pk {   
            margin-left: 400px;
            white-space: nowrap;
            margin-bottom: 60px;
            font-size: 50px;
            text-align: center;
            color :rgb(52, 98, 110) 
        }
        
          #myButtonK{
                margin-left: 650px;
                white-space: nowrap
            }

            .parl {
                margin-left: 300px;
                white-space: nowrap;
                margin-bottom: 60px;
                font-size: 50px;
                text-align: center;
                color :rgb(52, 98, 110)
             }
             
            
            
             #pl {   
                margin-left: 400px;
                white-space: nowrap;
                margin-bottom: 60px;
                font-size: 50px;
                text-align: center;
                color :rgb(52, 98, 110) 
            }
            
              #myButtonL{
                    margin-left: 650px;
                    white-space: nowrap
   }
           
   .parm {
    margin-left: 300px;
    white-space: nowrap;
    margin-bottom: 60px;
    font-size: 50px;
    text-align: center;
    color :rgb(52, 98, 110)
 }
 


 #pm  {   
    margin-left: 400px;
    white-space: nowrap;
    margin-bottom: 60px;
    font-size: 50px;
    text-align: center;
    color :rgb(52, 98, 110) 
}

  #myButtonM{
        margin-left: 650px;
        white-space: nowrap
    }

    .parn {
        margin-left: 300px;
        white-space: nowrap;
        margin-bottom: 60px;
        font-size: 50px;
        text-align: center;
        color :rgb(52, 98, 110)
     }
     
    
    
     #pn {   
        margin-left: 400px;
        white-space: nowrap;
        margin-bottom: 60px;
        font-size: 50px;
        text-align: center;
        color :rgb(52, 98, 110) 
    }
    
      #myButtonN{
            margin-left: 650px;
            white-space: nowrap
        }